<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
	<link rel='stylesheet' href='/css/bootstrap.min.css' />
	<!--for responsive feature-->
	<meta name='viewport' content='width=device-width, initial-scale=1.0'>
	<link rel='stylesheet' href='/css/bootstrap-responsive.css'>
    <link rel='stylesheet' href='/css/style.css' />
	<!-- Load Jquery -->
	<script src="/js/jquery-1.10.2.min.js"></script>
	
  </head>
  <body>
	<div class="wrapper">
	<div class="content">
		<div class="home">
		</div>
		<h3 class="textCenter">EC Project</h3>
	</div>
		<div class="main">
      <div class="container paddtop2 well well-large">
        <header class="hero-unit">
         	<p><abbr title="Excel Creator Project" class="initialism">EC</abbr> aims in creating excel based on the User inputs( Currently we are supporting only xlsx and only dynamic addition of rows)</p>
			
			<div class="panel panel-info">
			<div class="panel-heading">
			<h4>Credits:</h4>
			</div>
			<ul class="list-group">
				<li class="list-group-item"><a href="https://github.com/stephen-hardy">Stephen-hardy</a> for creating a excelent xlsx library</li>
				<li class="list-group-item"><a href="https://npmjs.org/package/node-xlsx" >node-xlsx library</a> for creating a wonderful wrapper</li>
				<li class="list-group-item"><a href="http://expressjs.com">ExpressJS</a> for providing a great abstraction to NodeJS</li>
				<li class="list-group-item"><a href="http://getbootstrap.com">Twitter Bootstrap</a> for providing a cool CSS Framework</li>
			</ul>
			</div>
			<a href="/create" class="btn btn-success btn-small">See it in action</a>
			
        </header>
      </div>
	  </div>
      <div class="push"><!--//--></div>
    </div>
	
    <footer>
      <div class="container">
        <p class="textCenter">EC &copy; 2013</p>
		<p class="textCenter"><em>This is a Beta Version, use at your risk</em></p>
      </div>
    </footer>
  
  
  
  
  
  
  
  
 
	<!--<div class="content">
		<div class="home">
		</div>
		<div class='container'>
		<div class='hero-unit'>
			<h1>EC Project</h1>
			<p>EC</em> aims in creating excel based on the User inputs(Currently we are supporting only xlsx.</p>
			<h4>Credits:</h4>
			<ul>
				<li><a href="https://github.com/stephen-hardy">Stephen-hardy</a> for creating a wonderful xlsx library</li>
				<li><a href="https://npmjs.org/package/node-xlsx" >node-xlsx library</a> for creating a wonderful wrapper</li>
				<li><a href="http://expressjs.com">ExpressJS</a> for providing a great abstraction to NodeJS</li>
				<li>Our Team</li>
			</ul>
			<a class="btn btn-success btn-small">Start Action Camera :)</a>
		</div>
		</div>
		
		 <div class="foot">
			Footer
		</div>
	</div>-->
	


  </body>
</html>